@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");

:root {
	--white: rgb(255, 255, 255);
	--light-grayish-violet: rgb(222, 221, 223);
	--dark-grayish-violet: rgb(142, 133, 147);
	--very-dark-violet: rgb(33, 9, 47);
	--dark-violet: rgba(33, 9, 47, 0.9);
	--default-font-size: clamp(1vw, 18px, 2vw);
}

body {
	margin: 0;
	font-family: "Space Grotesk", sans-serif;
	font-weight: 500;
	font-size: var(--default-font-size);
}

form > * {
	font: inherit;
}

* {
	box-sizing: border-box;
}

.container {
	display: flex;
}

@media screen and (max-width: 375px) {
	.container {
		flex-direction: column;
		height: 100vh;
	}

	.bg-main-container {
		width: 100%;
		position: relative;
	}
}

.card {
	width: 30%;
	aspect-ratio: 2/1;
	min-width: 20vh;
	border-radius: 4%/8%;
	z-index: 2;
}

.bg-main-container {
	background: url(./images/bg-main-desktop.png), no-repeat;
	background-size: cover;
	flex: 1;
	height: 100vh;
}

.front-card-info {
	background: url(./images/bg-card-front.png), no-repeat;
	background-size: cover;
	color: white;
	padding: 0.7em;

	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	font-size: clamp(0.5vw, 1vw, 5rem);
	text-align: center;
	position: absolute;
	left: 5%;
	top: 5%;
}

@media screen and (max-width: 375px) {
	.front-card-info {
		top: 55%;
		width: 70%;
		z-index: 3;
		font-size: 2vw;
	}
}

.front-card-info p {
	font-size: 1em;
}

.front-card-info p#card-number {
	font-size: 2em;
}

.front-card-info img {
	width: 15%;
	position: absolute;
	top: 10%;
	left: 5%;
}

.front-card-info .bottom-info {
	display: flex;
	justify-content: space-around;
}

.front-card-info .bottom-info p {
	text-transform: uppercase;
}

.back-card-info {
	background: url(./images/bg-card-back.png), no-repeat;
	background-size: cover;
	color: white;
	aspect-ratio: 2/1;
	position: absolute;
	left: 10%;
	top: 50%;
}

.back-card-info p {
	position: absolute;
	top: 50%;
	right: 10%;
	transform: translateY(-15%);
	font-size: 1.2vw;
}

@media screen and (max-width: 375px) {
	.back-card-info {
		width: 70%;
		left: 25%;
		top: 10%;
	}

	.back-card-info p {
		font-size: 1em;
	}
}

.form-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 3;
	text-transform: uppercase;
}

.form-container form#card-submit {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 0.5em;
	width: 50%;
	transform: translateX(10%);
}

@media screen and (max-width: 375px) {
	.form-container form#card-submit {
		width: 80%;
	}

	form#card-submit > * {
		font: inherit;
		font-size: 3vw;
	}
}

.form-container form#card-submit input {
	appearance: none;
	border-radius: 2%/25%;
	padding: 1em;
	border: 1px solid var(--light-grayish-violet);
	width: 100%;
}

.form-container form#card-submit input::placeholder {
	color: var(--dark-grayish-violet);
}

.form-container form#card-submit button {
	background-color: var(--very-dark-violet);
	color: var(--white);
	padding: 1em;
	border-radius: 3% / 15%;
	margin-top: 1em;
}

.form-container form#card-submit button:hover,
.form-container form#card-submit button:focus-visible {
	scale: 1.05;
	cursor: pointer;
	background-color: var(--dark-violet);
	border: 2px solid var(--dark-grayish-violet);
}

.date-cvc-container {
	display: flex;
	gap: 1em;
}

.date-cvc-container > * {
	gap: 0.5em;
}

.date-cvc-container input {
	font: inherit;
}

.date-cvc-container .date-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.date-cvc-container .date-container .date-inputs {
	display: flex;
	justify-content: flex-start;
	gap: 0.5em;
}

.date-cvc-container .date-container .date-inputs input {
	width: 50%;
}

.date-cvc-container .cvc-container {
	align-self: flex-end;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.form-container form#success-form {
	flex: 1;
	display: none;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	align-items: center;
}

.form-container form#success-form img {
	width: 5%;
	margin-bottom: 1em;
}

.form-container form#success-form button {
	background-color: var(--very-dark-violet);
	color: var(--white);
	padding: 1em;
	border-radius: 3% / 15%;
	margin-top: 1em;
	width: 25%;
	min-width: fit-content;
	text-align: center;
}

.form-container form#success-form h1,
p {
	margin: 0;
}

.form-container form#success-form h1 {
	font-size: 2em;
	letter-spacing: 0.2em;
}

.form-container form#success-form p {
	color: var(--dark-grayish-violet);
	text-transform: none;
}

@media screen and (max-width: 375px) {
	.form-container form#success-form img {
		width: 25%;
		aspect-ratio: 1/1;
	}

	form#success-form > * {
		font: inherit;
		font-size: 2em;
	}
}
